<%- include('../inc/header') %>
    <h1>Your Cart</h1>
    <% if (products.length > 0) { %>
        <ul class="cart-list">
            <% for (let product of products) { %>
                <li class="cart-list__item">
                    <span><%= product.itemName%> - <%= product.cartItem.qty%></span>
                    <form action="/cart-delete-product" method="POST">
                        <input type="hidden" name="productId" value="<%= product.id %>">
                        <button class="btn">Delete</button>
                    </form>
                </li>
            <% } %>
        </ul>
        <form action="/place-order" method="POST">
            <button type="submit" class="btn">Place Order</button>
        </form>
    <% } %>
<%- include('../inc/footer') %>